@font-face {
    font-family: "Stardew Valley Bold";
    src: url(fonts/svbold.otf);
}
@font-face {
    font-family: "Stardew Valley Thin";
    src: url(fonts/svthin.otf);
}
p{
    font-family: "Stardew Valley Thin",sans-serif;
}
*{
    margin: 0;
    
}
.complex-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);

}

header{
    text-align: center;
    font-size: 50px;
    background-image: url(images/Background.jpg);
    padding: 30px 0;
    background-size: cover;
    background-position: bottom;
    grid-column: span 4;
}
nav{
    background-color: #9ACD32;
    grid-column: span 4;
}
nav img {
    float: left;
    width: 50px;
    height: auto, ;
}
section p, .Merchants p {
    margin-left: 5%;
    width: 90%;
    text-align: center;
}
section{
    grid-column: span 3;
    grid-row: span 2;
    background-color: #829E5D;
}
aside{
    grid-column: span 1;
    grid-row: span 2;
    align-items: stretch;
    background-color: #008b8b;
}

h1, h2, h3, h4{
    text-align: center;
    font-family: "Stardew Valley Bold", sans-serif;
}

 img {
    display: block;
    margin: auto;
    width: 50%;
   
}

#calendar{
    background-color: #008b8b;
    color: white;
    grid-column: span 2;
    grid-row: span 3;
}
.Resources{
    grid-column: span 2;
    grid-row: span 3;
    
}
footer{
    grid-column: span 4;
    background-color: #829E5D;
    text-align: end;
}
.Contact{
    text-align: right;
}
form {
    margin-left: 3%;
  box-sizing: content-box;
  width: 90%;
  border-radius: 4px;
  border: 2px solid #008b8b;;
  background-color:  wheat;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

label {
  min-width: 48%;
  margin-bottom: 10px;
}

textarea {
  min-width: 45%;
  height: 150px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}
main{
    
    background-color: #829E5D;
}
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, auto)
  }
  header{
    text-align: center;
    font-size: 25px;
    background-color: #9ACD32;
    grid-column: span 2;
}
nav{
    background-color: #9ACD32;
    grid-column: span 2;
}
section{
    grid-column: span 2;
    grid-row: span 2;
    background-color: #829E5D;
}
aside{
    grid-column: span 2;
    grid-row: span 2;
    align-items: stretch;
    background-color: #008b8b;
}
#calendar{
    background-color: #008b8b;
    color: white;
    grid-column: span 2;
    grid-row: span 3;
}
.Resources{
    grid-column: span 2;
    grid-row: span 3;
    
}
footer{
    grid-column: span 2;
    background-color: #829E5D;
    text-align: end;
}
}